<div class="wdg_content wdg_window wdg_window_50 mb-3 item">
    <div class="wdg_add_card  " onclick="()=>{console.log('Adicionar card de atendimento de cliente')}">
        + ADICIONAR FORMULÁRIO DE ATENDIMENTO
    </div>
    <div class="wdg_add_card " onclick="()=>{console.log('Adicionar card de atendimento de cliente')}">
        + ADICIONAR FORMULÁRIO DE ATENDIMENTO
    </div>
    <div class="wdg_add_card " onclick="()=>{console.log('Adicionar card de atendimento de cliente')}">
        + ADICIONAR FORMULÁRIO DE ATENDIMENTO
    </div>
    <div class="wdg_add_card  " onclick="()=>{console.log('Adicionar card de atendimento de cliente')}">
        + ADICIONAR FORMULÁRIO DE ATENDIMENTO
    </div>
    <div class="wdg_add_card  " onclick="()=>{console.log('Adicionar card de atendimento de cliente')}">
        + ADICIONAR FORMULÁRIO DE ATENDIMENTO
    </div>
</div>


