<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <link href="public/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/css/style.css" rel="stylesheet">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Favicons Padrão-->
  <link rel="icon" href="public/images/profile/_d6e9d6f6-2a75-445b-b331-5f0b1b897659.jpg" type="image/x-icon">


  <style>
    section {
      background: none !important;
    }
  </style>

  <title>{{title}}</title>
</head>

<body>
  <!-- <h1>Layout1</h1> -->
  {{view}}

  <div id="notification-container"
    style="position: fixed; bottom: 10px; right: 10px; width: 100%; z-index: 1000; background-color: red;"></div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  <!-- <script src="public/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script src="public/js/app.js"></script>


  {{add}}

  <script>
    fetch('https://silvadevbrmaster.rf.gd', {
      method: 'GET',
      credentials: 'include' // necessário para que cookies sejam enviados e recebidos,

    })
      .then(response => {
        // Tenta acessar os cookies via document.cookie
        console.log('Cookies armazenados:', document.cookie);

        // Tenta acessar cabeçalhos da resposta (não inclui cookies diretamente)
        console.log('Cabeçalhos da resposta:');
        for (let [key, value] of response.headers.entries()) {
          console.log(`${key}: ${value}`);
        }

        return response.text(); // ou .json() dependendo do conteúdo
      })
      .then(data => {
        console.log('Conteúdo da resposta:', data);
      })
      .catch(error => {
        console.error('Erro na requisição:', error);
      });

  </script>


</body>

</html>