<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Start</h1>

        <div class="list-group">
          <a href="#topico1" class="list-group-item list-group-item-action">Alternando função atendimento para chat</a>
          <a href="#topico2" class="list-group-item list-group-item-action">Criando atalhos</a>
          <a href="#topico3" class="list-group-item list-group-item-action">Criando categoria e modelo de script</a>
          <a href="#topico4" class="list-group-item list-group-item-action">Criando, alternando e excluindo cards</a>
          <a href="#topico5" class="list-group-item list-group-item-action">Copiando e colando valor da fatura rapidamente</a>
          <a href="#topico6" class="list-group-item list-group-item-action">Usando os atalhos</a>
          <a href="#topico7" class="list-group-item list-group-item-action">Funções de cada botão no editor de texto</a>
  
        </div>

        <div id="topico1" class="mt-4">
          <h2>Alternando função atendimento para chat</h2>
          <p>
            Quando este botão é ativado, os scripts são personalizados para a função de chat, e quando está desabilitado, a função de telefone é ativada. O segundo botão traz os scripts previamente cadastrados na plataforma anterior.</p>
          
          <video controls>
            <source src="/public/images/start/enable_chat.webm" type="video/webm">
            Seu navegador não suporta o formato de vídeo WebM.
          </video>
          
        </div>

        <div id="topico2" class="mt-4">
          <h2>Criando atalhos</h2>
          <p>Nessa configuração é possível cadastrar atalhos com separação por cores.. </p>
          <video controls>
            <source src="public/images/start/shortcut.webm" type="video/webm">
            Seu navegador não suporta o formato de vídeo WebM.
          </video>
        </div>

        <div id="topico3" class="mt-4">
          <h2>Criando categoria e modelo de script</h2>
          <p>Aqui, é possível cadastrar uma categoria para filtrar. Tudo o que for relacionado ao aspecto financeiro pode ser categorizado como "financeiro", por exemplo, possibilitando a busca rápida de modelos dentro do editor de texto. Para isso, é necessário criar um atalho começando com o símbolo "#". Caso não haja esse atalho, é possível cadastrar um modelo de texto, porém ele não será carregado automaticamente. Nesse caso, será necessário copiar o texto manualmente e colá-lo no editor de texto.</p>
          <video controls>
            <source src="public/images/start/categories.webm" type="video/webm">
            Seu navegador não suporta o formato de vídeo WebM.
          </video>
        </div>

        <div id="topico4" class="mt-4">
          <h2>Criando, alternando e excluindo cards</h2>
          <p>O bloco de atendimento permite que sejam adicionados vários cards para vários clientes simultaneos. Não há limite para a quantidade de cards. É possível tambem alternar a posição entre eles e atribuir uma cor para ajudar na memorização.</p>
          <video controls>
            <source src="public/images/start/create_delete_cards.webm" type="video/webm">
            Seu navegador não suporta o formato de vídeo WebM.
          </video>
        </div>

        <div id="topico5" class="mt-4">
          <h2>Copiando e colando valor da fatura rapidamente</h2>
          <p>O bloco de atendimento oferece a flexibilidade de adicionar múltiplos cards para diversos clientes simultaneamente, sem qualquer limite de quantidade. Além disso, você pode alternar suas posições conforme necessário e também atribuir cores personalizadas para auxiliar na memorização e identificação.</p>
          <video controls>
            <source src="public/images/start/copy_value.webm" type="video/webm">
            Seu navegador não suporta o formato de vídeo WebM.
          </video>

          <video controls>
            <source src="public/images/start/paste_value.webm" type="video/webm">
            Seu navegador não suporta o formato de vídeo WebM.
          </video>

        </div>

        <div id="topico6" class="mt-4">
          <h2>Usando os atalhos</h2>
          <p>Após criar os modelos de script, é possível utilizá-los dentro do editor de texto. Basta inserir o atalho iniciando com "#" e, em seguida, pressionar "Enter". Isso carregará automaticamente o modelo desejado, facilitando a utilização e agilizando o processo de digitação.</p>
          <video controls>
            <source src="public/images/start/shortcuts.webm" type="video/webm">
            Seu navegador não suporta o formato de vídeo WebM.
          </video>
        </div>



        <div id="topico7" class="mt-4">
          <h2>Funções de cada botão no editor de texto</h2>
          <p>
            <ol>
              <li>Transferir a informação copiada.</li>
              <li>Gerar a descrição copiando até o ponto final (.)</li>
              <li>Copiar todo o atendimento.</li>
              <li>Preencher os campos com as informações do chat.</li>
              <li>Guardar temporariamente a pendência.</li>
              <li>Apagar o conteúdo do campo de texto.</li>
              <li>Copiar a informação do campo de texto.</li>
              <li>Colar o valor da fatura copiado no sistema com formatação.</li>
              <li>Adicionar o texto padrão para o rádio.</li>
              <li>Copiar a informação contida nos campos do formulário.</li>
              <li><b>Campo para validação e correção do CPF ou CNPJ</b></li>
              <li>Campo para adicionar novos cards.</li>
            </ol>

          </p>
          <img src="public/images/start/map.jpg" alt="">
        </div>

        

      </div>
    </div>
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->

<script src="/public/js/WidgetTextEditView.js"></script>
<script src="/public/js/app.js"></script>