
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/material-components-web@latest/dist/material-components-web.min.css">
 
    <div class="container">
        <div class="row g-3 cont-acc">
            <label for="inputKey" class="mdc-typography--headline6">Insira seu e-mail</label>
            <div class="col-12">
                <label for="inputKey" class="visually-hidden">Digite seu e-mail</label>
                <input type="email" class="form-control" id="inputKey" placeholder="E-mail">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="applyButton" onclick="getRescueLink(event)">Aplicar</button>
                <div class="spinner-border text-primary" role="status" id="spinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <span class="show-error" id="errorMessage"></span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<style>
     
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #f4f4f4;
      font-family: 'Roboto', sans-serif;
  }
  .cont-acc {
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .form-control {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: white;
  }
  .btn-primary {
      background-color: #6200ea;
      color: white;
      border: none;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 8px 0;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  .link_for_login {
      color: #6200ea;
      text-decoration: none;
      display: block;
      text-align: center;
      margin-top: 16px;
  }
  .mdc-typography--headline6 {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 16px;
      color: #333;
  }
  .spinner-border {
      display: none;
      width: 3rem;
      height: 3rem;
      border-width: 0.3rem;
  }
  .show-error {
      color: #f35656;
      margin-top: 16px;
  }

  body{
  background-color: white !important;
  }
</style>
