<div class="" id="app">
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Dione Silva</h1>
                <p>Programador Full Stack</p>
            </div>
            <button class="navbar-toggler" aria-label="Abrir menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <ul class="nav-menu">
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>


    <!-- Seção de Introdução -->
    <section id="apresentacao" class="apresentacao">
        <div class="container">
            <div class="info">
                <h2>Olá, eu sou Dione Silva</h2>
                <p>Desenvolvedor Full Stack apaixonado por criar soluções inovadoras para a web.</p>
                <p>Com experiência em tecnologias como React, Node.js e MongoDB, estou sempre em busca de novos
                    desafios.</p>
            </div>
            <div class="imagem">
                <img src="/public/images/g56.png" alt="Foto de Dione Silva">
            </div>
        </div>
    </section>


    <!-- Sobre mim -->
    <section id="sobre" class="sobre">
        <div class="container">
            <h2>Sobre Mim</h2>
            <p>Comecei minha jornada no desenvolvimento de software através da fotografia. Desde então, me apaixonei
                pelo processo de criação do zero. Isso me levou ao desenvolvimento web, onde aplico minhas habilidades
                para criar soluções inovadoras e eficientes.</p>
        </div>
    </section>

    <!-- Habilidades -->
    <section id="habilidades" class="habilidades">
        <div class="container">
            <h2>Minhas Habilidades</h2>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Node.js</li>
                <li>Git</li>
            </ul>
        </div>
    </section>

    <!-- Projetos -->
    <section id="projetos" class="projetos">
        <div class="container">
            <h2>Meus Projetos</h2>
            <div class="project-cards">
                <div class="card">
                    <img src="project1.jpg" alt="Projeto 1">
                    <h3>Projeto 1</h3>
                    <p>Descrição do projeto.</p>
                </div>
                <div class="card">
                    <img src="project2.jpg" alt="Projeto 2">
                    <h3>Projeto 2</h3>
                    <p>Descrição do projeto.</p>
                </div>
                <div class="card">
                    <img src="project3.jpg" alt="Projeto 3">
                    <h3>Projeto 3</h3>
                    <p>Descrição do projeto.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contato -->
    <section id="contato" class="contato">
        <div class="container">
            <h2>Entre em Contato</h2>
            <p>Ficou interessado em trabalhar comigo? Preencha o formulário abaixo ou entre em contato através dos meus
                canais.</p>
            <form action="enviar-email.php" method="POST">
                <input type="text" name="nome" placeholder="Seu Nome" required>
                <input type="email" name="email" placeholder="Seu E-mail" required>
                <input type="text" name="assunto" placeholder="Assunto" required>
                <textarea name="mensagem" placeholder="Sua Mensagem" required></textarea>
                <button type="submit">Enviar Mensagem</button>
            </form>
            <div class="informacoes">
                <p><strong>Email:</strong> exemplo@dominio.com</p>
                <p><strong>Telefone:</strong> (88) 99999-9999</p>
                <p><strong>Redes Sociais:</strong> <a href="https://github.com/seunome" target="_blank">GitHub</a> | <a
                        href="https://www.linkedin.com/in/seunome" target="_blank">LinkedIn</a></p>
            </div>
        </div>
    </section>


    <footer>
        <p>&copy; 2025 Jensen Omega. Todos os direitos reservados.</p>
    </footer>


</div>